#container {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    width: 400px;
    height: 400px;
    
}

.grid-item {
    border: 0.125px solid;
    border-color: black;
}

.change-color {
    background-color: green;
}